body{
 font-family: Arial;
 background-color: #000011;
}
ul{
  border: 1px sold black;
  color: white;
}
li{
  color: white;
}
input{
 width: 83%;
 height: 50px;
 color: white;
 background-color: #000011;
 border: 1px solid whitesmoke;
 padding: 10px; 
 margin-right: .5%;
}
form { 
 padding: 3px; 
 position: fixed;
 bottom: 0;
 width: 100%; 
}
